<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almexe.lingvaproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name=".utils.InitialService"
        android:protectionLevel="dangerous"/>

    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <application
        android:name=".Application"
        android:icon="@drawable/font_color"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Driver"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name=".utils.VKRegistration"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="ispeech_api_key"
            android:value="024741213c2ea3565859bfc757f1e6b5" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c6340a068433527de90298087431f72eddcd9b54"/>

        <service
            android:name=".utils.InitialService"
            android:enabled="true"
            android:exported="false">
        </service>

        <receiver
            android:name=".utils.Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_LOGIN_VK"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>